{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX First Page</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  </head>

  <body>
    <div id="count">{{ template "count" . }}</div>
    <button hx-post="/count" hx-target="#count">Count</button>
  </body>
</html>
{{ end }}

<!-- ----------- -->

{{ block "count" . }}
<span>Count: {{ .Count }}</span>
{{ end }}
